<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
	<head>
		<title>PoNeeY</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="author" content="Dave Shea" />
		<meta name="keywords" content="design, css, cascading, style, sheets, xhtml, graphic design, w3c, web standards, visual, display" />
		<meta name="description" content="A demonstration of what can be accomplished visually through CSS-based design." />
		<meta name="robots" content="all" />
	
		<link rel="stylesheet" href="style.css" type="text/css" media="screen"
		charset="utf-8"> 
	</head>
	<body>
		<div id="header">
			<img src="../image/banniere.png" title="ceci est une image" id="img_header"/>	
		</div>
		<div id="container">

		<form action="../functions/send_email.php" method="post" accept-charset="utf-8">
		
			<label for="email">E-mail :</label><br><input type="text" name="email" value="" id="email"><br>
			<label for="title">Titre :</label><br /><input type="text" name="title" value="" id="title"><br />
			<label for="text">Texte :</label><br /><textarea cols="60" name="text" id="text"></textarea>

			<p><input type="submit" value="Envoyer"></p>
			
		</form>


		</div>
		<div id="footer">
			<img src="../image/lapin.png" title="im just cuteeeee" id="img_lapin"/>
			<a href="../index.php" ><img src="../image/kitty.png" title="ceci est une image" style="background-color; width:200px" /><br /></a>
				
		</div>
	
	
	</body>
	


</html>