<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
	<head>
		<title>PoNeeY</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="author" content="Dave Shea" />
		<meta name="keywords" content="design, css, cascading, style, sheets, xhtml, graphic design, w3c, web standards, visual, display" />
		<meta name="description" content="A demonstration of what can be accomplished visually through CSS-based design." />
		<meta name="robots" content="all" />
	
		<link rel="stylesheet" href="style.css" type="text/css" media="screen"
		charset="utf-8"> 
	</head>
	<header>
	<img src="image/banniere.png" title="ceci est une image" id="img_header"/>
	<img src="image/lapin.png" title="ceci est une image" id="img_header2"/>
	
	</header>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>
		Demande de poney
		</title>
		<link rel="stylesheet" type="text/css" href="templates/style.css" media="all" />
		
	</head>
	<body id="main">

		<div id="container">
			<h1>
				<a>Demande de poney</a>
			</h1>
			
			<div class="description">
				<h2>
					Merci
				</h2>
				<p>
					On a bien reçu ta demande de poney, on te recontactera lapin!
				</p>
				<h2><a href="../index.php" ><img src="../image/kitty.png" title="ceci est une image" style="background-color; width:200px" /><br /></a></h2>
			</div>
			
		</div>
			
		</div>
	</body>
</html>
