@charset "utf-8";


body {
	margin:0px;
	padding:0px;
	background-color:#fa47ac;
	background-image:url(../image/Rainbow.png);
}

#header {
	margin-bottom:20px;
	width:100%;
	background-color:#ff7cee;
	text-align:center;
	
}

#container {
	
	background-color:#ff7cee;

	width:960px;
	margin:auto;
	
}

#img_lapin {
	width:100px;
	float:right;
}

#img { /*images poneys de la page index.php*/
	text-align:center
}

#img2 {  /*image du poneys de la page description.php*/
	float:right;
	margin-right:100px;
}

#footer {
	margin-top:20px;
	background-color:#ff7cee;
	width:100%;
}

#bot {
	clear:both;
}

h1 {
	color:#000000;
	text-align:center;
}

h2 {
	
	color:#FFFFFF;
	text-align:center
}

h3 {
	margin-top:200px;
	margin-left:100px;
	float:left;
	color:#000000;
	font-size:42px;
}

p {
	font-size:24px;
	float:right;
	margin-right:250px;
	clear:both;
}